

// Override Bootstrap variables
$primary: #F5EDED;
$secondary: #7FA1C3;
$background-color: #eaf4fc; // Off-white

//body
body {
    background-color: $background-color !important;
}
* {
    font-family: 'Caveat', cursive;
}
//increase font size h1,h2,h3,h4,h5,h6 (most to least)
h1 {
    font-size: 3.5rem !important;
}
h2 {
    font-size: 3rem !important;
}
h3 {
    font-size: 2.5rem !important;
}
h4 {
    font-size: 1.5rem !important;
}
h5 {
    font-size: 1.25rem !important;
}
h6 {
    font-size: 1rem !important;
}


// Image Logo
.logo {
  width: 100px;
  height: 100px;
}

.containerbox {
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    background-color: white;
    padding: 20px;
    text-align: left;
    border: 2px solid $secondary;
}

#profile-actions-dropdown {
    position: fixed;
    top: 10px ; /* Adjust as needed */
    right: 10px ; /* Adjust as needed */
    z-index: 1000 ; /* Ensure it is above other elements */
}
// Define the grow animation

.fixed-center {
    position: fixed;
    top: 50%;
    left: 50%;
}
.custom-checkbox .form-check-input:checked {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
}

// Custom styles for Form.Label and Form.Control

.form-control-default {
    border: 2px solid $secondary !important;
    border-radius: 20px !important;
    padding: 10px !important;
    font-size: 1rem !important;
    font-family: serif;
    &:focus {
        border-color: darken($secondary, 60%) !important;
        box-shadow: 0 0 5px rgba(0, 0, 0, 1) !important;
    }
}
#remember-me-default{
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}
//font size
.font-sm{
    font-size: 1.25rem !important  ;
}
.font-md{
    font-size: 1.5rem !important  ;
}
.font-lg{
    font-size: 2rem !important  ;
}
.font-xl{
    font-size: 2.5rem !important  ;
}
//fonts:
// Inside src/styles/_fonts.scss or src/App.scss

// Regular (400)
@font-face {
    font-family: 'Caveat';
    src: url('/fonts/Caveat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

// Medium (500)
@font-face {
    font-family: 'Caveat';
    src: url('/fonts/Caveat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

// Semibold (600)
@font-face {
    font-family: 'Caveat';
    src: url('/fonts/Caveat-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

// Bold (700)
@font-face {
    font-family: 'Caveat';
    src: url('/fonts/Caveat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@import 'bootstrap/scss/bootstrap.scss';